.homepage-background {
    background-image: url("C:\Users\hi\Pictures\Screenshots\Screenshot (44).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }
  